---

---
<div class="nosotros wrapper">
    <img src="../images/Inicio/intro1.png" alt="">
    <div class="text">
        <h3>Somos la primera plataforma a servicio de las bodegas peruanas</h3>
        <p>Nuestro equipo está enfocado en este proyecto. Queremos ampliar nuestra red de bodegas en todo el Perú y con ello cerrar la brecha tecnológica en nuestro país.</p>
        <button class="btn1"><p class="button-text">Leer Más</p></button>
    </div>
</div>

<style>
    .nosotros{
        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 40px 0px;
        gap: 64px;
    }

    .nosotros .text{
        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 32px;
    }
</style>